<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message %></title>
</head>
<body>
    
    <p><%= message %> </p>
</body>
</html>


<!-- MONGODB_URI =mongodb+srv://Chat-Application:OGdmopOT24UgiJ1R@cluster0.gx2sshg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
APP_NAME=Chat Application

COOKIE_SECRET=1yyweddyh77e338fjhadjk89789ads
PORT=5000 -->